@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: #00467F;
      --background: 220 41% 100;
      --foreground: 220 10% 1%;

      --muted: 220 10% 92.5%;
      --muted-foreground: 220 5% 42.5%;

      --popover: 220 41% 100%;
      --popover-foreground: 220 10% 1.25%;

      --card: 220 41% 100%;
      --card-foreground: 220 10% 1.25%;

      --border: 220 15% 90%;
      --input: 220 15% 90%;

      --primary: 220 100% 25%;
      --primary-foreground: 220 2% 92.5%;

      --secondary: 220 5% 96.25%;
      --secondary-foreground: 220 7% 12.5%;

      --accent: 220 5% 96.25%;
      --accent-foreground: 220 7% 12.5%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;

      --ring: 220 100% 25%;

      --radius: 0.5rem;

      --approved: 145 50% 60%;
      --pending: 26 50% 70%;
      --rejected: 343 50% 70%;
      --uploaded: 13 50% 70%;
    }

    .dark {
      /* Name: custom color palette
             Author: Ilias Ism
             URL: https://gradient.page */

      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: linear-gradient(to top left,#536976,#292E49);

      --background: 215 11.05% 3.2%;
      --foreground: 215 1.7000000000000002% 97%;

      --muted: 215 8.5% 12%;
      --muted-foreground: 215 1.7000000000000002% 54%;

      --popover: 215 61.6% 5.2%;
      --popover-foreground: 215 1.7000000000000002% 97%;

      --card: 215 61.6% 5.2%;
      --card-foreground: 215 1.7000000000000002% 97%;

      --border: 215 8.5% 12%;
      --input: 215 8.5% 12%;

      --primary: 215 17% 40%;
      --primary-foreground: 215 1.7000000000000002% 97%;

      --secondary: 215 8.5% 12%;
      --secondary-foreground: 215 1.7000000000000002% 97%;

      --accent: 215 8.5% 12%;
      --accent-foreground: 215 1.7000000000000002% 97%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 215 1.7000000000000002% 97%;

      --ring: 215 17% 40%;

      --approved: 145 89.1% 18.0%;
      --pending: 26 90.9% 25.9%;
      --rejected: 343 93.4% 29.8%;
      --uploaded: 13 89.6% 26.3%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }